/* Navigation */
body {
  padding-top: 4em;
}

#standard-menu {
  box-shadow: 0 6px 24px -12px #101010;
}

#menu1,
.bg--dark,
.bar.bg--dark {
  background-color: #181818;
}

#menu1 .menu-horizontal > li > a,
#menu1 .menu-horizontal > li > span {
  color: #ffffff;
  opacity: 1;
  font-size: 1em;
  text-transform: none;
}

#menu1 .menu-horizontal > li > a:hover,
#menu1 .menu-horizontal > li > span:hover {
  opacity: 0.7;
}

.menu-vertical li {
  white-space: normal;
  letter-spacing: -0.02em;
}

.dropdown .dropdown__content {
  border-radius: unset;
}

.all-courses-link {
  text-decoration-line: none;
  font-weight: bold;
}

.sign-in {
  padding: 0 0.4em 0.2em 0.4em;
  margin-left: 2em;
}

.sign-up {
  border: solid 2px #36ab67;
  padding: 0.4em 1em;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase !important;
  font-size: 0.95em !important;
}

.only-mobile {
  display: none !important;
}

/* Custom - home */
#home-page .hero-section {
  padding: 3.5em 0 0 0;
  background: #000;
}

#home-page h1 {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0.5em;
}

#home-page .lead {
  width: 100%;
  text-align: center;
}

#home-page .cta-courses {
  width: 100%;
  text-align: center;
  margin: 1em 0 3em 0;
}

#home-video {
  width: 100%;
  text-align: center;
  margin-bottom: -2.5em;
}

#home-video img {
  margin-bottom: 0;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

#home-video > div {
  display: inline-block;
  width: 69%;
  min-height: 450px;
}

#home-page #promotion {
  padding-top: 5em;
}

.video-container {
  min-height: 450px;
}

.blinking {
  animation: blinker 1.2s linear infinite;
}

.big-emoji {
  font-size: 1.5em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

@keyframes blinker {
  0% {
    opacity: 100;
  }
  49% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* stripe button - standard */
.stripe-payment {
  margin-top: 4rem;
}
button.stripe-button-el {
  box-shadow: none;
  background: #238b53 none;
  border-color: #238b53 !important;
  display: inline-block;
  width: 100%;
  padding: 0.6rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  border-radius: 6px;
}

button.stripe-button-el:hover {
  transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);
  background: #289f5f;
  cursor: pointer;
}

button.stripe-button-el:active {
  background: #238b53 !important;
}

button.stripe-button-el:disabled,
button.stripe-button-el.disabled {
  background: #eee;
  border: 1px solid #ccc !important;
}

button.stripe-button-el:disabled:hover,
button.stripe-button-el.disabled:hover {
  background: #eee;
  transform: none;
  cursor: default;
}

button.stripe-button-el:disabled > span,
button.stripe-button-el.disabled > span,
button.stripe-button-el:disabled > span:hover,
button.stripe-button-el.disabled > span:hover {
  background: transparent;
  transform: none;
}

/* navigation */
.bar {
  padding: 1em 0;
}

.bar .logo {
  max-width: none;
  max-height: none;
}

.testimonial__image img {
  border-radius: 50%;
}

/* courses masonry */
.masonry-filter-container {
  margin-bottom: 4em;
}

#courses a {
  text-decoration: none;
  font-weight: 600;
}

.project-thumb img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  background: #333;
}

/* Vertically center filters selector */
.masonry-filter-holder {
  padding-top: 1.5em;
}

.masonry__container .background-image-holder {
  background-position: 50% 100% !important;
}

.masonry__container iframe {
  min-height: 210px;
}

.masonry__container .video-play-icon {
  width: 5em;
  height: 5em;
}

.masonry .video-cover + span.h4 + span {
  margin-left: unset;
}

.masonry .h4 {
  margin-bottom: 0.4em;
}

/* pricing */
.pricing .h2 {
  margin-bottom: -0.1em;
}

.landing-form label {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.3em;
  color: #333;
}

.required-field {
  color: red;
}

/* Sumo CRM*/
.scrollbox-popup-scale.scrollbox-bottom-right {
  right: 150px !important;
}

@media (min-width: 768px) {
  .mt--3 .no-margin-top {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .modal-container:not(.modal-active) .modal-content {
    display: block !important;
    line-height: 1em;
    text-align: center;
  }

  .only-mobile {
    display: inline-block !important;
  }

  /* Sumo CRM*/
  .scrollbox-popup-scale.scrollbox-bottom-right {
    right: 0 !important;
  }

  li.dropdown {
    display: none;
  }

  .sign-in {
    margin-left: 0;
  }

  .sign-up {
    display: inline-block;
    margin-top: 0.8em;
    padding: 0.2em 1em;
  }

  #home-page .btn {
    width: 90%;
  }

  #home-video > div {
    width: 90%;
  }

  #home-page h4 {
    font-size: 2em;
  }

  #home-page .services,
  #home-page .feature__body {
    margin: 0;
  }

  .hero-section {
    background-color: #101010;
  }

  #home-page .services {
    text-align: center;
  }

  #home-page .feature {
    display: inline-block;
    max-width: 27em;
  }

  .video-container {
    min-height: 290px;
  }

  #home-video > div {
    min-height: 0;
  }

  .social-list {
    text-align: center;
    margin-top: 3em !important;
  }

  /* Header nav */
  #menu1,
  ul.menu-horizontal {
    text-align: center !important;
  }

  .bar__module {
    border-bottom: solid 1px #5b5b5b;
    padding-bottom: 1em;
    font-size: 1.1em;
  }
}

.as-h1 {
  font-size: 3.14em;
  margin: 0;
}

/* Claims */
.important-claim {
  font-weight: bolder;
  color: #181818;
  font-size: 2.3em;
  letter-spacing: -1px;
  text-align: center;
  max-width: 840px;
  display: inline-block;
}

.companies-list li {
  margin-right: 1.5em !important;
}

#companies-trust {
  background-image: url("../images/bg/office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Secret landing */
#secret-landing {
  background: #252525;
  color: white;
}

.modal-container {
  pointer-events: all;
  color: #bbbbbb;
}

.modal-big {
  font-size: 3em;
}

.modal-big .modal-content {
  overflow-y: initial;
}

.modal-big .modal-close-cross {
  display: none;
}

.modal-big small {
  font-size: 0.5em;
}

#HW_badge {
  display: inline-block;
  top: unset;
  left: unset;
}

/* Form Checkbox */
#empresas-buy-form {
  color: #fff;
}

.buy-form {
  margin-top: 0.5em !important;
}

.company-cta {
  margin-top: 0 !important;
}

.vat-text {
  font-weight: normal;
  font-size: 1rem;
  margin: 1em 0;
  line-height: 1.2;
  opacity: 0.9;
}

.btn-extra-height {
  height: 4em;
}

.legal-text {
  margin: 1em 0;
  line-height: 1.2;
  opacity: 0.9;
}
.legal-text a {
  text-decoration: underline;
}

/* Legal pages */

.legal {
  font-size: 1.5rem;
  line-height: 1.3;
}

.legal-nav {
  padding-bottom: 0;
}

.legal h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.legal ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.footer-legal {
  margin-top: 4rem;
  border-top: 1px solid #777;
  padding-top: 1rem;
}

.footer-legal a {
  opacity: 0.7;
}
.footer-legal a:hover,
.footer-legal a:focus {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1040;
}

.modal-dialog {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body {
  padding: 2rem;
}

.modal-close {
  border: none;
  background: transparent;
  color: #333;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
}

.modal iframe {
  display: block;
  width: 560px;
  max-width: 90vw;
}

.modal.hidden {
  display: none;
}

.vercel-link {
  display: block;
  margin: 1.5rem auto 0;
  width: 212px;
}
